

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="index.js" defer></script>

  <style>
 td, th {
    border: 1px solid black;
}
</style>
</head>
<body>
  <div id="vue-app">

    <router-view></router-view>

  </div>
</body>
</html>

<template id="home-page">
  <div class="vue-component">

    <label  class="form-label">Keyword</label>
    <input type="text" v-model="keywords" placeholder="keyword">
    
     

    <button v-on:click="getIndKey()">Update</button>
    <!-- <p v-for="keyword in keywords">{{ keyword.toUpperCase() }} </p> -->
    <!-- <p v-for="indexKey in indexKeys">{{ indexKey }}</p> -->

    <table>
      <tr>
        <th v-for="keyword in keywords">{{ keyword.toUpperCase() }}</th>
      </tr>
      <tr>
        <td v-for="indexKey in indexKeys">{{ indexKey }}</td>
      </tr>
    </table>

    <button v-for="alphabet in alphabets">{{ alphabet }}</button>


  </div>
</template>
