

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My App</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="index.js" defer></script>

  <style>
    table, td, th {
      border: 1px solid black;
    }
</style>
</head>
<body>
  <div id="vue-app">

    <router-view></router-view>

  </div>
</body>
</html>

<template id="home-page">
  <div class="vue-component">

    <label  class="form-label">Keyword</label>
    <input type="text" v-model="keywords" placeholder="keyword">
    
     

    <button v-on:click="getIndKey()">Update</button>
    <!-- <p v-for="keyword in keywords">{{ keyword.toUpperCase() }} </p> -->
    <!-- <p v-for="indexKey in indexKeys">{{ indexKey }}</p> -->

    <table>
      <tr>
        <th v-for="keyword in keywords">{{ keyword.toUpperCase() }}</th>
      </tr>
      <tr>
        <td v-for="indexKey in indexKeys">{{ indexKey }}</td>
      </tr>
    </table>
<hr>

    <table>
      <tr>
        <th v-for="alphabet in alphabets"><button v-on:click="getCipher(alphabet)">{{ alphabet }}</button></th>
      </tr>
      <tr> 
        <td v-for="newOrderAlph in newOrderAlphs">{{ newOrderAlph }}</td>
      </tr>
    </table>
<hr>
    
    <input type="text" v-model="inputWords">

    <button v-on:click="">Clear</button>
<hr>
    <label  class="form-label">Cipher Text</label>
    <input type="text" v-model="outputWords">
    
  </div>
</template>
